.u-section-1 {
  min-height: 318px;
}

.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-image-1 {
  width: 501px;
  height: 500px;
  margin: 39px auto 0 69px;
}

.u-section-1 .u-text-1 {
  margin: -386px 317px 0 639px;
}

.u-section-1 .u-text-2 {
  margin: 39px 22px 0 639px;
}

.u-section-1 .u-text-3 {
  margin: 10px 123px 60px 689px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 172px;
    margin-left: 539px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 539px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 23px;
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 429px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 429px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 392px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 339px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 339px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 339px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -225px;
    margin-right: 108px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 12px;
  }
}